<footer class="site-footer site-footer-1">
<div class="container">
  <div class="row site-footer-content">
    <div class="col-lg-4 col-md-4 site-footer-logo">
        <!-- Logo start --><a href="index.html" title="Walton" class="site-logo">
          <!--<div class="logo-img"><img src="../static/images/logo.png" alt="Walton"></div>-->
          <div class="name-and-tagline">
            <div class="name">Daily Scroll</div>
            <div class="tagline">Avoid Fake News</div>
          </div>
        </a>
      <p>Copyright @ 2019 U.S. <a href="https://dailyscroll.co.ke">DailyScroll</a>, Inc.</p>
    </div>


    <div class="col-md-3 col-md-push-1">
      <div class="widget widget-contacts">
        <h4 class="widget-title">Contact Us</h4>
        <div class="widget-content">
          <!--<p class="title text-heading">BrandedText Inc.</p>
          <p class="address">1064 Maxwell Street<br>Windsor, CT 06095</p>
          <p class="phone">1 (347) 690-1220</p>-->
          <p class="email"><a href="#">newshall@dailyscroll.co.ke</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-push-1">
      <div class="widget widget-follow">
        <h4 class="widget-title">follow us</h4>
        <div class="widget-content">
          <p class="links"><!--<a href="#"><i class="fa fa-facebook"></i></a>--><a href="#"><i class="fa fa-twitter"></i></a><!--<a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-google-plus"></i></a>--></p>
        </div>
      </div>
    </div>
  </div>
</div>
</footer><!-- Footer end -->
