{% extends "baseadmin.html" %}
{% block content %}
<div class="container">
<h4>Kindly login below</h4>
<p>or</p>
<h6><a href="{{url_for('users.login')}}" class="btn btn-primary">Sign Up Here</a></h6>
<form method="POST">
<div class="jumbotron">
	{{form.hidden_tag()}}
	<div class="form-group">
		{{form.email.label}}
		{{form.email(class="form-control")}}
	</div>

	<div class="form-group">
		{{form.password.label}}
		{{form.password(class="form-control")}}
	</div>

	<div class="form-group">{{form.submit(class="btn btn-primary")}}</div>

</div>
</form>
</div>

{% endblock %}
